<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jardelzermiani.cadastrocliente">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/aquaratio"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Cadastro" />
        <activity android:name=".Ajuda" />
        <activity android:name=".Consumo_Diario" />
        <activity android:name=".Consumo_Mensal" />
        <activity android:name=".Consumo_Semanal" />
        <activity android:name=".Dicas" />
        <activity android:name=".ExcluirConta" />
        <activity android:name=".graficoajuda" />
        <activity android:name=".Recuperar_Senha" />
        <activity android:name=".Sobre" />
        <activity android:name=".Grafico" />
        <activity android:name=".AjudaConsumo" />
        <activity android:name=".AjudaGastoMonetario" />
        <activity android:name=".AjudaPessoal" />
        <activity android:name=".AjudaSenha" />
        <activity android:name=".AjudaExcluir" />
        <activity android:name=".AjudaMoeda" />
        <activity android:name=".AjudaGrafico" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" />
        <activity android:name=".Cotacao_Configuracao" />
        <activity android:name=".Configuracao" />
        <activity android:name=".ConfiguracaoConta" />
        <activity android:name=".AlterarSenha"></activity>
    </application>

</manifest>